body {
  padding: 60px 5px 40px;
}

.lead {
  font-size: 155%;
}

.vertical-buffer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.publications-list {
  list-style: none;
  padding-left: 15px;
}

.publications-list li {
  padding-bottom: 1em;  
}

.abstract.in, .abstract.collapsing {
  display: block;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid  #ddd;
}

.publication .btn-abs:before {
    font-family: 'FontAwesome';
    content: "\f102";
    float: left;
    color: black;
    margin-right: 5px;
}
.publication .btn-abs.collapsed:before {
    content: "\f103";
}

.published-in {
    font-style: italic;
}

.row .section-header, .row h2, .row h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.section-header {
  padding-bottom: 9px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
}

.img-thumbnail {
  margin-bottom: 1em;
}

.btn-kaggle{
  color: #20beff;
  background-color: #646568;
  border-color: rgba(0,0,0,0.2)
}

.btn-kaggle:hover, .btn-kaggle:focus, .btn-kaggle:active, .btn-kaggle.active, .open>.dropdown-toggle.btn-kaggle {
  color:#09aeef;
  background-color:#444548;
  border-color: rgba(0,0,0,0.2)
}

.btn-google-yellow {
  color: #fff;
  background-color: #fbbc05;
  border-color: rgba(0,0,0,0.2)
}

.btn-google-yellow:hover, .btn-google-yellow:focus,.btn-google-yellow:active, .btn-google-yellow.active, .open>.dropdown-toggle.btn-google-yellow {
  color: #fff;
  background-color: #d9ab00;
  border-color: rgba(0,0,0,0.2);
}

.space-bottom {
  margin-bottom: 20px;
}

.github-card .panel-heading {
  font-size: 120%;
}

.github-card .panel-heading small{
  color: #999999;
}

.pad-sides {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-group a, .btn-group button, .btn-group .btn {
  margin-top: 5px;
}

h2.sub-heading {
  padding-bottom: 0.5em;
}
