html {
  overflow-y: auto;
}

.reveal {
  font-size: 160%;
}

.reveal pre {
  width: inherit;
  padding: 0.4em;
  margin: 0px;
  font-family: monospace, sans-serif;
  font-size: 80%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.reveal pre code {
  padding: 0px;
}

.reveal section img {
  border: 0px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.reveal i {
  font-style: normal;
  font-family: FontAwesome;
  font-size: 2em;
}

.reveal .slides {
  text-align: left;
}

.reveal.fade {
  opacity: 1;
}

.reveal .progress {
  position: static;
}

.slides .present li {
    margin-bottom: 0.5em;
}

a.anchor-link:link {
    text-decoration: none;
    padding: 0px 20px;
    visibility: hidden;
}

sup.footnote-num {
    font-size: 50%;
    color: #aaa;
}

div.footnote {
    margin-top: 0.5em;
    font-size: 50%;
    color: #aaa;
}
